
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
**/dropdown.spec.js
**/google.spec.js
**/invalid-error.spec.js
**/login-logout.spec.js
**/sample.spec.js